<div class="container card mt-5">
    <div>

        <!-- Loader -->
        <div  style="padding: 5px 0px;">
            <mat-progress-bar mode="indeterminate" *ngIf="preloaderActivo"></mat-progress-bar>
        </div>
    
        <div class="w-100">
            <div class="text-center mt-3">
                <h3><strong class="colorAzul">COTIZACIONES</strong></h3>
            </div>
        
                

            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <button class="btn" (click)="conectarServidor()" data-toggle="tooltip" data-placement="top" title="Recargar Cotizaciones" [disabled]="desactivado">
                        <i class="material-icons">replay</i>
                    </button>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>

                <div>
                    <button class="btn botonAzul white-text" (click)="nuevo()" [disabled]="desactivado"> Nueva Cotizacion</button> 
                </div>
            </div>
    
        </div>
    
    
    <div>

        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="prospecto">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;"> Prospecto </th>
                <td mat-cell *matCellDef="let row"> {{ row.nombre }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;"> Fecha </th>
                <td mat-cell *matCellDef="let row"> {{ row.fecha }} </td>
            </ng-container>

            <ng-container matColumnDef="comentario">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;"> Comentario </th>
                <td mat-cell *matCellDef="let row"> {{ row.comentario }} </td>
            </ng-container>


            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;"> Total </th>
                <td mat-cell *matCellDef="let row"> {{ row.total }} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;"> Acciones </th>
                <td mat-cell *matCellDef="let row"> 
                    
                     <i class="material-icons colorAzul" data-toggle="tooltip" data-placement="top" title="Editar Cotización" (click)="edit(row)" *ngIf="row.enviado === 0">edit</i>
                  <i class="material-icons colorVerde" data-placement="top" title="Ver Informacion" (click)="informacion(row)">remove_red_eye</i>
                  <!--<i class="material-icons colorRojo" data-toggle="tooltip" data-placement="top" title="Borrar Cotización" (click)="borrar(row)">delete</i>-->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
