<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showNavbar">
  <a class="navbar-brand" [routerLink]="['/']">Seguimiento</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="rol === 2">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/normas']">Normas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tipo-servicio']">Tipo de Servicios</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/costos']">Costos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empresas']">Empresas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/prospectos']">Prospectos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/servicios']">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">LogOut</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="rol === 1">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/normas']">Normas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tipo-servicio']">Tipo de Servicios</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/costos']">Costos</a>
      </li> -->
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empresas']">Empresas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/prospectos']">Prospectos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/servicios']">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">LogOut</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="rol === 3">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/normas']">Normas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tipo-servicio']">Tipo de Servicios</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/costos']">Costos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empresas']">Empresas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/prospectos']">Prospectos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/servicios']">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/movimientos']">Movimientos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">Salir</a>
      </li>
    </ul>
  </div>
</nav>
