<div class="row">

  <h3 class="colorVerde col-md-12" style="text-align: center;">Información de la cotización</h3>

  <div class="divider"></div>

  <div style="padding: 5px 0px;">
    <mat-progress-bar mode="indeterminate" *ngIf="preloaderActivo"></mat-progress-bar>
  </div>

  <div mat-dialog-content class="col-sm-12">
    <div class="row">

      <div class="col-sm-12 col-md-6">
        <b>Empresa:</b> {{ prospecto.empresa }}
      </div>

      <div class="col-sm-12 col-md-6">
        <b>Prospecto:</b> {{ prospecto.nombre }}
      </div>

      <div class="col-sm-12 col-md-6">
        <b>Telefono:</b> {{ prospecto.telefono }}
      </div>

      <div class="col-sm-12 col-md-6">
        <b>Dirección:</b> {{ prospecto.direccion }}
      </div>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Codificacion</th>
            <th scope="col">Tipo Servicio</th>
            <th scope="col">Costo</th>
          </tr>
        </thead>

        <tbody>

        </tbody>
      </table>

      <div *ngFor="let costo of costos" class="col-sm-12">


          <span class="col-md-4">
            {{ costo.codificacion }}
          </span>

          <span class="col-md-4">
            {{ costo.nombre }}
          </span>

          <span class="col-md-4">
            {{ costo.costo }}
          </span>

      </div>

      <!--<div class="col-md-4">-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<b>Total:</b> {{ data.total }}-->
      <!--</div>-->



    </div>
  </div>

  <div mat-dialog-actions class="col-sm-12">

    <div class="col-sm-12">
      <button class="btn botonCafe text-white" (click)="cerrarModal()" style="width: 100%;">Cancelar</button>
    </div>

    <div class="col-sm-12">
      <!--<input class="btn botonVerde" type="submit" style="width: 100%;" value="Guardar" [disabled]="!formAddEmpresa.form.valid || desactivado" (click)="guardar()">-->
    </div>
  </div>

</div>
