<div class="row">
    <form class="col-sm-12"  #formAddEmpleado="ngForm">
        <div class="row">
            <h3 class="colorAzul col-sm-12" style="text-align: center;">Editar Contraseña</h3>

            <div class="divider"></div>

            <!-- Loader -->
            <div class="col-md-12" style="padding: 5px 0px;">
                <mat-progress-bar mode="indeterminate" *ngIf="preloaderActivo"></mat-progress-bar>
            </div>

            
            <div class="form-group col-sm-12 col-md-6">
                <label for="password">Nueva Contraseña:</label>
                <input type="password" #userPassword="ngModel" [(ngModel)]="usuario.password" name="password" required class="form-control" id="password" >
            </div>

            <div class="form-group col-sm-12 col-md-6">
                <label for="password2">Confirmar Contraseña:</label>
                <input type="password" #userPassword2="ngModel" [(ngModel)]="usuario.confirm" name="password2" required class="form-control" id="password2">
            </div>
             

            <h4 class="botonRojo text-white col-sm-12 text-center"  *ngIf="usuario.confirm !== usuario.password && usuario.confirm.length > 0"><strong>Las contraseñas no coinciden</strong></h4>

            <div class="col-sm-12" style="margin-bottom: 10px;">
                <button class="btn botonCafe waves-effect" style="width: 100%;" (click)="cerrarModal()" [disabled]="desactivado">Cancelar</button>
            </div>

            <div class="col-sm-12">
                <input class="btn waves-effect waves-light botonVerde" type="submit" style="width: 100%;" value="Guardar" [disabled]="!formAddEmpleado.form.valid || usuario.confirm !== usuario.password || desactivado" (click)="editarPassword()">
            </div>

        </div>
    </form>
</div>
    
