<div class="container card mt-5">
    <div>

        <!-- Loader -->
        <div  style="padding: 5px 0px;">
            <mat-progress-bar mode="indeterminate" *ngIf="preloaderActivo"></mat-progress-bar>
        </div>
    
        <div class="w-100">
            <div class="text-center mt-3">
                <h3><strong class="colorAzul">Movimientos</strong></h3>
            </div>
        
                

            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <button class="btn" (click)="conectarServidor()" data-toggle="tooltip" data-placement="top" title="Recargar Movimientos" [disabled]="desactivado">
                        <i class="material-icons">replay</i>
                    </button>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
            </div>
    
        </div>
    
    
    <div>

        <table mat-table [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;" mat-sort-header> Usuario </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{botonVerde: row.tipo === 1, botonAmarillo: row.tipo === 2, botonRojo: row.tipo === 3}"> {{row.usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;" mat-sort-header> Tipo Movimiento </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{botonVerde: row.tipo === 1, botonAmarillo: row.tipo === 2, botonRojo: row.tipo === 3}"> 
                    <div *ngIf="row.tipo === 1"> INSERTAR </div>
                    <div *ngIf="row.tipo === 2"> ACTUALIZAR </div>
                    <div *ngIf="row.tipo === 3"> BORRAR </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;" mat-sort-header> Descripcion </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{botonVerde: row.tipo === 1, botonAmarillo: row.tipo === 2, botonRojo: row.tipo === 3}"> {{row.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;" mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{botonVerde: row.tipo === 1, botonAmarillo: row.tipo === 2, botonRojo: row.tipo === 3}"> {{row.fecha}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>