<div class="container card mt-5">
    <div>

        <!-- Loader -->
        <div style="padding: 5px 0px;">
            <mat-progress-bar mode="indeterminate" *ngIf="preloaderActivo"></mat-progress-bar>
        </div>

        <div class="w-100">
            <div class="text-center mt-3">
                <h3><strong class="colorAzul">PROSPECTOS</strong></h3>
            </div>



            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <button class="btn" (click)="conectarServidor()" data-toggle="tooltip" data-placement="top" title="Recargar Empresas" [disabled]="desactivado">
                        <i class="material-icons">replay</i>
                    </button>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>

                <div>
                    <button class="btn botonAzul white-text" (click)="addProspecto()" [disabled]="desactivado"> Nuevo Prospecto</button>
                </div>
            </div>

        </div>


        <div>

            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="empresa">
                    <th mat-header-cell *matHeaderCellDef class="botonAzul text-white text-center" style="font-size: 20px;"> Empresa </th>
                    <td mat-cell *matCellDef="let row"> {{row.empresa}} </td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="botonAzul text-white text-center" style="font-size: 20px;"> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef class="botonAzul text-white text-center" style="font-size: 20px;"> Telefono </th>
                    <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef class="botonAzul text-white text-center" style="font-size: 20px;"> Ultima Fecha </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="botonAzul text-white text-center" style="font-size: 20px;"> Acciones </th>
                    <td mat-cell *matCellDef="let row">

                            
                        <i class="material-icons colorVerde" data-toggle="tooltip"   data-placement="top" title="Validado" *ngIf="row.acta === 1 && row.carta === 1 && row.contratos === 1 && row.rfc === 1; else noValidado" (click)="validado()">remove_red_eye</i>

                        <ng-template #noValidado>
                            <i class="material-icons colorAzul" data-toggle="tooltip" data-placement="top" title="Validar" (click)="validar(row)">remove_red_eye</i>
                        </ng-template>

                        <i class="material-icons colorAzul" data-toggle="tooltip"   data-placement="top" title="Editar Prospecto" (click)="editar(row)">edit</i>

                        <i class="material-icons colorRojo" data-toggle="tooltip" data-placement="top" title="Borrar Prospecto" (click)="delete(row)">delete</i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>