<div class="container card mt-5">
    <div>

        <!-- Loader -->
        <div  style="padding: 5px 0px;">
            <mat-progress-bar mode="indeterminate" *ngIf="preloaderActivo"></mat-progress-bar>
        </div>
    
        <div class="w-100">
            <div class="text-center mt-3">
                <h3><strong class="colorAzul">EMPRESAS</strong></h3>
            </div>
        
                

            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <button class="btn" (click)="conectarServidor()" data-toggle="tooltip" data-placement="top" title="Recargar Empresas" [disabled]="desactivado">
                        <i class="material-icons">replay</i>
                    </button>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>

                <div>
                    <button class="btn botonAzul white-text" (click)="formAddEmpresa()" [disabled]="desactivado"> Nueva Empresa</button> 
                </div>
            </div>
    
        </div>
    
    
    <div>

        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;"> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef  class="botonAzul text-white text-center" style="font-size: 20px;"> Acciones </th>
                <td mat-cell *matCellDef="let row"> 
                    
                    <i class="material-icons colorAzul" data-toggle="tooltip" data-placement="top" title="Editar Empresa" (click)="editEmpresa(row)">edit</i>
                    <i class="material-icons colorRojo" data-toggle="tooltip" data-placement="top" title="Borrar Empresa" (click)="deleteEmpresa(row)"  >delete</i>
                    
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>